@use '../../variables' as *;
@use '../../mixins' as *;

.back-bar {
  @include sticky-subheader;

  padding-top: 24px;
  padding-bottom: 16px;
  margin-bottom: 16px;

  &__link {
    display: inline-block;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    color: inherit;
  }
}
